.checkoutCartContainer {
	margin: 0 auto;

	width: 100%;
	max-width: 720px;
	height: 100%;

	padding: 24px;

	background: #ffffff;
	border-radius: 16px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.price {
	align-self: flex-end;
}
