.divFull {
	margin-top: 75px;
	padding: 16px;
	width: calc(100vw - 32px);
	min-height: calc(100vh - 75px - 164px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}

.divFull h3 {
	text-align: center;
}

.divContainer {
	display: flex;
	flex-direction: row;
	gap: 2rem;
}

@media screen and (max-width: 720px) {
	.divContainer {
		flex-direction: column;
	}
}
