.navLink {
	padding: 0 20px;
	height: 75px;
	text-align: center;
	align-content: center;
	text-decoration: none;
	color: var(--text-primary);
	user-select: none;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.navLink:active {
	color: var(--text-primary);
}

.navLink:hover {
	background-color: var(--button-primary);
	cursor: pointer;
}

@media screen and (max-width: 720px) {
	.navLink {
		width: 100vw;
	}
}
