.cartWidget {
	padding: 8px;
	min-width: 328px;
	max-height: 500px;
	background-color: var(--bg-secondary);

	display: flex;
	flex-direction: column;
	justify-items: center;
	gap: 8px;

	border-radius: 0 0 25px 25px;

	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
		rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
	overflow-y: scroll;
}

.cartWidget::-webkit-scrollbar {
	display: none;
}

@media screen and (max-width: 720px) {
	.cartWidget {
		min-height: 400px;
		max-height: 400px;

		width: 100vw;
	}
}
