.logo {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	text-decoration: none;
	color: var(--text-primary);

	height: 75px;
}

.h1 {
	font-family: "Courier New", Courier, monospace;
}
