.navLinkContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	background-color: var(--bg-secondary);
}

.widgetContainer {
	position: fixed;
	top: 75px;
	right: 0;

	display: flex;
}

.hamburgerMenu {
	position: absolute;
	top: calc(75px / 2 - 32px / 2);
	right: 24px;

	height: 32px;
	width: 32px;

	border: 1px solid black;
	border-radius: 4px;

	display: flex;
	align-items: center;
	justify-content: center;

	display: none;
}

@keyframes hamburgerOpen {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100;
	}
}

.visible {
	display: flex;
	animation: hamburgerOpen 0.35s ease-in-out;
}

@media screen and (max-width: 720px) {
	.navLinkContainer {
		position: absolute;
		top: 75px;
		width: 100vw;
		flex-direction: column;
		background-color: var(--bg-color);
		box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
			rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
	}

	.widgetContainer {
		top: calc(4 * 75px);
	}

	.hamburgerMenu {
		display: flex;
	}

	.hidden {
		display: none;
	}
}

/*
NavLink
*/

.navLink {
	padding: 0 20px;
	height: 75px;
	text-align: center;
	align-content: center;
	text-decoration: none;
	color: var(--text-primary);
	user-select: none;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 4px;
}

.navLink:active {
	color: var(--text-primary);
}

.navLink:hover {
	background-color: var(--button-primary);
	cursor: pointer;
}

@media screen and (max-width: 720px) {
	.navLink {
		width: 100vw;
	}
}
