.itemList {
	margin: 25px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	flex-wrap: wrap;
}

.card {
	padding: 10px;
	background-color: var(--bg-secondary);
	min-height: 36rem;
	width: 250px;
	border-radius: 25px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}

.card .img {
	width: calc(250px - 10px);
	height: 280px;
}

.card .title {
	font-weight: 550;
	font-size: 20px;
	text-align: center;
}

.card .cardContent {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.card .pricing {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	gap: 1rem;
}

.card .pricing .botonera {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.card .pricing .botonera button {
	padding: 5px;
	width: 100px;
	border-radius: 8px;
	cursor: pointer;
	background-color: var(--button-primary);
	font-weight: 525;
}

.card .pricing .botonera .navLink {
	padding: 5px;
	width: 100px;
	border-radius: 8px;
	cursor: pointer;
	background-color: var(--button-primary);
	font-weight: 525;
	border: 2px solid black;
	text-decoration: none;
	color: black;
	text-align: center;
}
