.itemCard {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: start;
	gap: 8px;

	cursor: pointer;
}

.image {
	border-radius: 50%;
	height: 48px;
	width: 48px;
	border: 1px solid black;
}

.title {
	font-size: 14px;
	font-weight: 600;
}

.price {
	font-size: 12px;
	margin-left: auto;
}
