.itemList {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	flex-wrap: wrap;
	max-width: 1248px;
}

.card {
	padding: 10px;
	background-color: var(--bg-secondary);
	min-height: 36rem;
	width: 250px;
	border-radius: 25px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}

.card .img {
	width: calc(250px - 10px);
	height: 280px;
}

.card .title {
	font-weight: 550;
	font-size: 20px;
	text-align: center;
}

.card .cardContent {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	height: 9rem;
}

.description {
	width: calc(250px - 20px);
	display: -webkit-box;
	line-clamp: 3;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.card .pricing {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	gap: 1rem;
}

.card .pricing .botonera {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.card .pricing .botonera button {
	padding: 5px;
	width: 100px;
	border-radius: 8px;
	cursor: pointer;
	background-color: var(--button-primary);
	font-weight: 525;
}

.card .pricing .botonera .navLink {
	padding: 5px;
	width: 100px;
	border-radius: 8px;
	cursor: pointer;
	background-color: var(--button-primary);
	font-weight: 525;
	border: 2px solid black;
	text-decoration: none;
	color: black;
	text-align: center;
}

.navPages {
	margin: 1rem;
	display: flex;
	flex-direction: row;
	align-self: flex-end;
	gap: 8px;
}

.navPages button {
	padding: 5px;
	width: 32px;
	border-radius: 8px;
	cursor: pointer;
	background-color: var(--button-primary);
	font-weight: 525;
}

.buttons-controller {
	margin-top: 1rem;
	margin-bottom: 1rem;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;

	align-self: center;
}

.buttons-controller .decrease-quantity {
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: /* colors.$danger-color */ var(--danger-color);
	color: /* colors.$font-color */ var(--font-color);

	border: none;
	padding: 0.5rem 1rem;
	border-radius: 4px;

	cursor: pointer;

	width: 25px;
	height: 25px;
}

.buttons-controller .decrease-quantity:hover {
	background-color: /* colors.$danger-color-dark */ var(--danger-color-dark);
}

.buttons-controller .increase-quantity {
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: /* colors.$secondary-color */ var(--secondary-color);
	color: /* colors.$font-color */ var(--font-color);

	border: none;
	padding: 0.5rem 1rem;
	border-radius: 4px;

	cursor: pointer;

	width: 25px;
	height: 25px;
}

.buttons-controller .increase-quantity:hover {
	background-color: /* colors.$secondary-color-dark */ var(
		--secondary-color-dark
	);
}

.buttons-controller .quantity-input {
	width: 50px;
	text-align: center;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 0.25rem;
}

.buttons-controller .quantity-input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	-moz-appearance: textfield;
	appearance: none;
}

.remove-from-cart {
	padding: 0.5rem 1rem;
	align-self: center;

	background-color: /* colors.$danger-color */ var(--danger-color);
	color: /* colors.$font-color */ var(--font-color);

	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.remove-from-cart:hover {
	background-color: /* colors.$danger-color-dark */ var(--danger-color-dark);
}

.add-to-cart {
	position: absolute;
	top: 60%;
	right: 8%;

	margin-top: 1rem;
	padding: 1rem 1rem;

	background-color: /* colors.$primary-color */ var(--primary-color);
	color: /* colors.$font-color */ var(--font-color);
	font-size: 1.2rem;

	border: none;
	border-radius: 33% 67% 42% 58% / 26% 54% 46% 74%;
	cursor: pointer;
}

.add-to-cart:hover {
	background-color: /* colors.$primary-color-light */ var(
		--primary-color-light
	);
	animation: zoom-in-out 0.5s ease-in-out;
}
